## 1. module import

In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

# 2. 따릉이 시간대별 이용정보(2018~19) : xlsx -> csv화
1. 엑셀파일 : 파일명, 인코딩 등 정리 하기
2. 월 : 앞 숫자가 0인 경우 에러 -> zfill 사용하여 채우기
3. for문 사용

In [2]:
for year in range(18,19):
    for month in tqdm(range(1, 12)):
        try:
            y = str(year).zfill(2)
            m = str(month).zfill(2)
            # 엑셀파일 불러오기
            temp = pd.read_excel('./Data/서울특별시 공공자전거 이용정보(시간대별)_{0}.{1}.xlsx'.format(y, m), header=0)
            print('{0}-{1} xlsx - ok'.format(y,m))
            # csv로 저장하기
            temp.to_csv('./Data/서울특별시 공공자전거 이용정보(시간대별)_{0}.{1}.csv'.format(y, m))
            print('{0}-{1} csv - ok'.format(y,m))
        except:
            print('에러',y,m)
            pass

  0%|                                                                                           | 0/11 [00:00<?, ?it/s]

18-01 xlsx - ok

  9%|███████▌                                                                           | 1/11 [00:23<03:51, 23.11s/it]

18-01 csv - ok
18-02 xlsx - ok

 18%|███████████████                                                                    | 2/11 [00:46<03:26, 22.99s/it]

18-02 csv - ok
18-03 xlsx - ok

 27%|██████████████████████▋                                                            | 3/11 [01:42<05:07, 38.40s/it]

18-03 csv - ok
18-04 xlsx - ok

 36%|██████████████████████████████▏                                                    | 4/11 [03:02<06:21, 54.54s/it]

18-04 csv - ok
18-05 xlsx - ok

 45%|█████████████████████████████████████▋                                             | 5/11 [04:56<07:36, 76.07s/it]

18-05 csv - ok
18-06 xlsx - ok

 55%|█████████████████████████████████████████████▎                                     | 6/11 [07:13<08:04, 96.87s/it]

18-06 csv - ok
18-07 xlsx - ok

 64%|████████████████████████████████████████████████████▏                             | 7/11 [09:05<06:47, 101.93s/it]

18-07 csv - ok
18-08 xlsx - ok

 73%|███████████████████████████████████████████████████████████▋                      | 8/11 [10:53<05:11, 103.72s/it]

18-08 csv - ok
18-09 xlsx - ok

 82%|███████████████████████████████████████████████████████████████████               | 9/11 [12:42<03:30, 105.50s/it]

18-09 csv - ok
18-10 xlsx - ok

 91%|█████████████████████████████████████████████████████████████████████████▋       | 10/11 [14:28<01:45, 105.61s/it]

18-10 csv - ok
18-11 xlsx - ok

100%|██████████████████████████████████████████████████████████████████████████████████| 11/11 [15:50<00:00, 86.43s/it]

18-11 csv - ok

# 3. 함수 정의 : 각 csv파일 -> 데이터프레임화
 - 컬럼명 변경해서 return

In [3]:
def create_data(yy, mm):
    file_path = './Data/서울특별시 공공자전거 이용정보(시간대별)_{0}.{1}.csv'.format(yy,mm)
    try:
        f = pd.read_csv(file_path, encoding='utf-8', engine='python')
        try:
            if '사용시간' in f:
                f['이동시간'] = f['사용시간']
                f = f.drop('사용시간', axis=1)
        except:
            pass
    except:
        f = pd.read_csv(file_path, encoding='cp949', engine='python')
        try:
            if '사용시간' in f:
                f['이동시간'] = f['사용시간']
                f = f.drop('사용시간', axis=1)
        except:
            pass
    df = f[['대여일자', '대여시간', '대여소번호', '대여소명', '대여구분코드', '성별', '연령대코드', '이용건수', '운동량',
       '탄소량', '이동거리', '이동시간']]
    return df

- 파일 모으기 : DF

In [5]:
DF = pd.DataFrame()
year = ['18']
for y in year:
    for m in tqdm(range(1, 13)):
        try:
            mm = str(m).zfill(2)
            temp = create_data(y, mm)
            DF = pd.concat([DF, temp], ignore_index=True)
        except:
            print('에러'+y+mm)
            pass

100%|██████████████████████████████████████████████████████████████████████████████████| 12/12 [01:03<00:00,  5.31s/it]

In [6]:
DF.to_csv('./Data/따릉이이용정보(시간대별)_2018.csv', encoding='utf-8')
DF

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,이동시간
0,2018-01-01,0,300,정동사거리,정기권,F,~10대,1,37.32,0.34,1450.0,23
1,2018-01-01,0,505,자양사거리 광진아크로텔 앞,정기권,F,20대,1,54.83,0.49,2130.0,15
2,2018-01-01,0,1531,미아사거리 1번 출구,정기권,F,20대,1,78.34,0.73,3140.0,17
3,2018-01-01,0,516,광진메디칼 앞,정기권,F,20대,1,29.95,0.29,1240.0,5
4,2018-01-01,0,3508,화양사거리,정기권,F,20대,1,46.09,0.45,1940.0,43
...,...,...,...,...,...,...,...,...,...,...,...,...
6447015,2018-12-31,23,1623,1623. 노원 구민회관,일일권,M,30대,1,38.00,0.23,1010.0,6
6447016,2018-12-31,23,394,394. 경희궁 자이 3단지,일일권,M,40대,1,64.86,0.54,2340.0,26
6447017,2018-12-31,23,207,207. 여의나루역 1번출구 앞,단체권,\N,~10대,2,786.85,4.61,19870.0,103
6447018,2018-12-31,23,338,338. 세운스퀘어 앞,단체권,F,30대,2,30.60,0.32,1380.0,14
6447019,2018-12-31,23,1308,1308. 안암로터리 버스정류장 앞,단체권,M,20대,2,283.09,1.96,8410.0,46

In [7]:
DF = pd.DataFrame()
year = ['19']
for y in year:
    for m in tqdm(range(1, 13)):
        try:
            mm = str(m).zfill(2)
            temp = create_data(y, mm)
            DF = pd.concat([DF, temp], ignore_index=True)
        except:
            print('에러'+y+mm)
            pass

100%|██████████████████████████████████████████████████████████████████████████████████| 12/12 [02:19<00:00, 11.62s/it]

In [8]:
DF.to_csv('./Data/따릉이이용정보(시간대별)_2019.csv', encoding='utf-8')
DF

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,이동시간
0,2019-01-01,0,458,458. 광화문역 5번출구,정기권,F,~10대,1,41.96,0.38,1630.0,29
1,2019-01-01,0,2159,2159. 인헌초교,정기권,F,20대,1,27.23,0.29,1250.0,7
2,2019-01-01,0,1362,1362. 보문역6번출구 앞,정기권,F,20대,1,20.18,0.23,980.0,5
3,2019-01-01,0,3106,3106. 홍남교 두바퀴쉼터,정기권,F,20대,1,7.48,0.1,420.0,4
4,2019-01-01,0,118,118. 광흥창역 2번출구 앞,정기권,F,20대,1,25.7,0.26,1100.0,7
...,...,...,...,...,...,...,...,...,...,...,...,...
14291354,2019-12-31,23,544,544. 광남중학교,단체권,NaN,~10대,4,340.36,3.12,13430.0,146
14291355,2019-12-31,23,337,337. 창경궁 입구,단체권,NaN,20대,2,106.35,0.87,3730.0,26
14291356,2019-12-31,23,428,428. 명보사거리,단체권,F,20대,2,77.82,0.91,3930.0,62
14291357,2019-12-31,23,1059,1059. 래미안 강동팰리스(102동),단체권,M,~10대,2,179.67,1.62,6980.0,116
14291358,2019-12-31,23,1235,1235. 잠실트리지움310동 옆,단체권,M,20대,2,285.44,1.97,8480.0,107